src/node_modules/
release-builds/
src/me.info
src/sendBuffer.txt
src/moxielogout.txt
!src/torchat/portable.txt
src/torchat/*.txt
src/torchat/torchat.ini
src/torchat/buddy-list.txt
src/torchat/buddy-chatProperties.txt
src/torchat/Tor/tor.pid
src/torchat/pid-torchat.txt
src/torchat/Tor/hidden_service/
src/torchat/Tor/tor_data/
src/torchat/statusUpdates.txt
*.pyc
